---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer class="w-full bg-primary px-8 py-5">
    <div class="mx-auto flex max-w-4xl items-center justify-center gap-8">
        <span>&copy; {today.getFullYear()} Kevin. All rights reserved.</span>
        <SocialLinks isFooter />
    </div>
</footer>
