---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer class="flex w-full items-center justify-center gap-8 bg-primary p-8">
    <span>&copy; {today.getFullYear()} Kevin. All rights reserved.</span>
    <SocialLinks isFooter />
</footer>
