---
import SocialLinks from './SocialLinks.astro'

const today = new Date()
---

<footer class='flex w-full justify-center gap-8 bg-accent p-8'>
	<span>&copy; {today.getFullYear()} Kevin. All rights reserved.</span>
	<SocialLinks />
</footer>
