---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, heading } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <div class="flex min-h-screen flex-col">
            <Header />
            <div class="flex-1 p-8">
                <main class="mx-auto max-w-4xl pb-4">
                    <h1 class="mb-8 text-3xl underline decoration-primary underline-offset-4">{heading}</h1>

                    <slot />
                </main>
            </div>
            <Footer />
        </div>
    </body>
</html>
